@import "../mixins";
@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:700&display=swap");
/* 
 explorer-container class and map-container class in map.scss folder compleate each other in size.
App container is 100 vh - 100 vw and depending on the screen size it's children resizes themselves for full screen.
 */
.explorer-container {
  @include transitionAll();
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 100;
  position: absolute;
  background-color: white;
  height: 100%;

  @include for-phone-only {
    left: 0%;
    width: 100%;
  }
  @include for-tablet-portrait-up {
    left: 45%;
    width: 55%;
  }
  @include for-tablet-landscape-up {
    left: 65%;
    width: 35%;
  }
  @include for-desktop-up {
    left: 70%;
    width: 30%;
  }
  @include for-big-desktop-up {
    left: 75%;
    width: 25%;
  }
  &-toggled {
    left: 100%;
    width: 55%;
    @include for-phone-only {
      width: 100%;
    }
  }
}
.explorer-toggle-button {
  @include transitionAll();
  @include for-phone-only {
    left: 0px;
  }
  &-toggled {
    left: -45px;
    .arrow {
      @include transitionAll();
      transform: rotate(-180deg);
    }
  }
  position: absolute;
  margin: 0;
  left: -45px;
  top: 1.2%;
  height: 40px;
  width: 37px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin-bottom: 2px;
  font-weight: bold;
  font-family: "Ibarra Real Nova", serif;
  font-size: 1.5rem;
}
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  .title {
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 8rem;
    flex: 1;
  }
  .about {
    padding: 5rem;
    font-size: 1.2rem;
    flex: 1;
  }
  .version {
    font-size: 0.8rem;
    color: grey;
    margin-top: 0.5rem;
  }
  .github-link {
    padding: 0.4rem;
    font-size: 0.8rem;
    color: grey;
  }
  .github {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .info {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  text-align: center;

  @include for-phone-only {
    .title {
      margin-top: 3rem;
      text-align: center;
      font-size: 2rem;
    }
    .about {
      padding: 2rem;
      flex: 0;
    }
    .info {
      flex: 2;
    }
  }
  @include for-tablet-landscape-up {
    .title {
      margin-top: 3rem;
      text-align: center;
    }
    .about {
      padding: 2rem;
    }
    .info {
      flex: 1;
    }
  }
  @include for-desktop-up {
  }
}
